.themeButton {
    background-color: #8a8bf1;
    border-radius: 5%;
    padding: 5px;
    border: none;
    color: white;
    font-size: 20px;
    width: 20%;
}

.customSearch {
    background-color: #f3f6f9;
    border: none;
}

.customSearch:focus {
    background-color: #f3f6f9;
    border-color: #8a8bf1;
    box-shadow: 0 0 0 0.2rem rgba(138, 139, 241, 0.25);
}

.accordion {
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    padding: 14px;
    width: 98%;
    border: white;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Accactive,
.accordion:hover {
    background-color: #8a8bf1;
    color:white
}

.accordion:after {
    content: '\002B';
    color: #ffffff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.Accactive:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Optional: style the sidebar content to be scrollable if needed */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.panel > ul > li{
    color : #8a8bf1;
    margin-top:10px;
    cursor:pointer;
}
.Sidebar{
    overflow:scroll; 
    height:92vh
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2 px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8a8bf1; 
    border-radius: 5px;
  }